<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="./lib/flat-ui/dist/css/flat-ui.min.css">
    <style>
        body        { padding-top:80px; }
    </style>

  </head>
  <body>
    <div class="container">
      
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>YuYo's User Management</h1>
        
        <p>Login or Register with:</p>
        
        <a href="/login" class="btn btn-inverse btn-lg"><span class="fa fa-sign-in"></span> <b>Local Login</b></a>
        <a href="/signup" class="btn btn-inverse btn-lg"><span class="fa fa-user-plus"></span> <b>Local Signup</b></a>      
      </div>

    </div>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

  </body>
</html>