<!doctype html>
<html>
<head>
    <title>YuYo</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="favicon.png" type="image/png"/>

    <link rel="stylesheet" href="./lib/flat-ui/dist/css/flat-ui.min.css">
    <link rel="stylesheet" href="./lib/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="/lib/ng-table/dist/ng-table.min.css">
    <!-- <base href="/"></base> -->
</head>
<body ng-app="myApp">

    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/profile#/">YuYo</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">
              <li><a href="#/upload">Upload</a></li>
              <li><a href="#/manage">Pictures</a></li>
              <li><a href="#/detail">Users</a></li>
              <li><a href="#/map">Maps</a></li>              
              <li><a href="#/aboutus">About us</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <p class="navbar-text">Sign in as <a href="#/edit"><%= user.local.email %></a></p>         
              <li><a href="/logout">Log out</a></li>
            </ul>
          
          </div><!-- /.navbar-collapse -->
        </div> <!-- /.container -->
      </nav><!-- /navbar --> 

    <!-- <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        </div>
    </div> -->

    <div ng-view></div>
    
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- AngularJS -->
    <script src="./lib/angular/angular.min.js"></script>
    <script src="./lib/angular-resource/angular-resource.min.js"></script>    
    <script src="./lib/angular-route/angular-route.min.js"></script>        

    <script src="./lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="./lib/angular-ui-event/dist/event.min.js"></script>
    <script type="text/javascript" src="./lib/angular-ui-map/ui-map.min.js"></script>    
    <script type="text/javascript" src="./lib/ng-table/dist/ng-table.js"></script>    
    <script type="text/javascript" src="./lib/angular-base64-upload/dist/angular-base64-upload.min.js"></script>    

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7SiSHbKjnEp53OzMglaMc2B6WfLrA-sA"
    async defer></script>

    <!-- Angular Scripts    -->
    <script src="./main.js"></script>    
    <script src="./js/angularCtrl.min.js"></script>    
    <script src="./services/user.js"></script>
 
</body>
</html>
