<div class="container">
  <div class="text-center">
    <h3>Mobile Application Develoment</h3>
    <h6>Assignment 1</h6>
  </div>
  <hr>
  <div class="row">
      <div class="col col-md-6">
        <div class="col col-md-5">
          <img src="/img/bach.jpg" alt="png" class="img-rounded img-responsive">
        </div>
        <div class="col col-md-7">
            <h6><b>Đỗ Nguyên Bách</b></h6>
            <p>51200165</p>
            <p>HCMUT - CSE</p>            
        </div>
      </div>
      <div class="col col-md-6">
        <div class="col col-md-4">
          <img src="/img/luan.jpg" alt="png" class="img-rounded img-responsive">
        </div>    
        <div class="col col-md-7">
            <h6><b>Võ Văn Luận</b></h6>
            <p>51202065</p>
            <p>HCMUT - CSE</p>            
        </div>
      </div>
  </div>
</div>
