<!-- <div class="container">
  <div class="page-header text-center">
    <h1><i class="fa fa-facebook"></i> Detail page</h1>
    <h4>{{hello}}</h4>
  </div>
</div> -->

<!-- <div class="container">
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="user in data">
            <td title="'Name'" filter="{ name: 'text'}" sortable="'Name'">
                {{user.name}}</td>
            <td title="'Age'" filter="{ age: 'number'}" sortable="'Age'">
                {{user.age}}</td>
        </tr>
    </table>
</div> -->
<div class="container">
    <table ng-table="tableParams" class="table" show-filter="false">
        <tr ng-repeat="user in data">
            <td title="'First Name'" class="text-center">
                {{user.bio.firstName}}</td>
            <td title="'Last Name'" class="text-center">
                {{user.bio.lastName}}</td>
            <td title="'Age'" class="text-center">
                {{user.bio.age}}</td>
            <td title="'Email'" class="text-center">
                {{user.local.email}}</td>
            <td title="'Phone Number'" class="text-center">
                {{user.bio.phoneNumber}}</td>
            <td title="'University'" class="text-center">
                {{user.bio.university}}</td>
        </tr>
    </table>
</div>