<div class="container">
  <div class="text-center">
    <h4><i class="fa fa-map"></i> Your Location</h4>
  </div>
  <div class="row">        

    <div class="col col-md-8 col-md-offset-2">
        <div id="map_canvas" ui-map="model.myMap" class="map-canvas" ui-options="mapOptions">
        </div>
        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]">
        </div>      

    </div>
    <div class="col col-md-2">
      <div class="row" ng-show="showResult()">
           Lat: {{lat}} <br />
           Long: {{lng}} <br />
           Accuracy: {{accuracy}}
        </div>
        <div class="row" ng-show="!showResult()">
            Error : {{error}}
            Error Code: {{error.code}}
        </div>           
    </div>

  </div>  
</div>



